In [129]:
import numpy as np
import pandas as pd

In [130]:
# Leemos archivo personal_buque.csv
personal_orig = pd.read_csv('personal_buque.csv')
#personal_orig.head(5)

In [131]:
# Leemos archivo buques.csv
buques_orig = pd.read_csv('buques.csv')

# Eliminamos el espacio del nombre de la columna nombre_naviera
buques_orig.rename(columns = {' nombre_naviera': 'nombre_naviera'}, inplace = True)

#buques_orig.head(5)

In [132]:
# Formamos la tabla Naviera
Naviera = buques_orig[['nombre_naviera','pais_naviera', 'descripcion_naviera']]

#Naviera.head(5)
#Naviera.dtypes
#Naviera.describe()

In [133]:
# Eliminamos filas duplicadas de naviera
Naviera = Naviera.drop_duplicates()
# Confirmamos que nombre_naviera es llave
#Naviera.describe()

In [134]:
Buque = buques_orig[['id_buque','nombre', 'patente', 'pais']]
# Cantidad de tuplas es 250
#len(Buque)

In [135]:
# Nombres de columnas
#buques_orig.dtypes

In [136]:
# Eliminamos filas duplicadas de buques
Buque = Buque.drop_duplicates()
# No había filas duplicadas
#len(Buque)

In [137]:
BuquePesquero = buques_orig[['id_buque','tipo', 'tipo_pesca']]
#BuquePesquero.head(10)

In [138]:
indexNames = BuquePesquero[ BuquePesquero['tipo'] != 'pesquero' ].index

In [139]:
BuquePesquero.drop(indexNames, inplace=True)
#BuquePesquero.head(10)
del BuquePesquero["tipo"]

In [140]:
# Hay 91 buques pesqueros
#len(BuquePesquero)
# Hay 6 tipos de pesca, moda hilo con frecuencia 20
#BuquePesquero.describe(include="all")

In [141]:
BuqueCarga = buques_orig[['id_buque','tipo', 'max_containers', 'max_ton']]
indexNames = BuqueCarga[ BuqueCarga['tipo'] != 'carga' ].index
BuqueCarga.drop(indexNames, inplace=True)
#BuqueCarga.head(10)
del BuqueCarga["tipo"]
BuqueCarga = BuqueCarga.astype({"max_containers": int, "max_ton": int})

In [142]:
# Hay 74 buques de carga
#len(BuqueCarga)
#BuqueCarga.describe(include="all")

In [143]:
BuquePetrolero = buques_orig[['id_buque','tipo', 'max_lit']]
indexNames = BuquePetrolero[ BuquePetrolero['tipo'] != 'petrolero' ].index
BuquePetrolero.drop(indexNames, inplace=True)
#BuquePetrolero.head(10)
del BuquePetrolero["tipo"]
BuquePetrolero = BuquePetrolero.astype({"max_lit": int})

In [144]:
Tiene = buques_orig[['id_buque','nombre_naviera']]

In [145]:
Trabajan = personal_orig[['id_personal', 'id_buque']]
# Hay 1643 relaciones trabajan
#len(Trabajan)
Trabajan = Trabajan.assign(cargo="trabajador")

for i in range(len(Buque)):
    id_personal = int(buques_orig.iloc[i]["id_capitan"])
    Trabajan["cargo"].iloc[id_personal] = "capitan"

# Imprime las últimas 5 tuplas
#Trabajan.iloc[1638:]

In [146]:
# Leemos archivo itinerarios.csv
itinerarios_orig = pd.read_csv('itinerarios.csv')

#itinerarios_orig.head(10)
#itinerarios_orig.describe(include="all")

In [147]:
# Atraque son las tuplas con fecha_salida no nulo
Atraque = itinerarios_orig[itinerarios_orig['fecha_salida'].notna()]
#len(Atraque)

In [148]:
# Itinerario son las tuplas con fecha_salida nulo
Itinerario = itinerarios_orig[itinerarios_orig['fecha_salida'].isna()]
del Itinerario["fecha_salida"]
#Itinerario

In [149]:
# Quitamos id_buque de tabla personal
Personal = personal_orig
del Personal["id_buque"]

In [150]:
IdPersonalPasaporte = personal_orig[['id_personal','pasaporte']]
IdPersonalNombre = personal_orig[['id_personal','nombre']]
IdBuquePatente = Buque[['id_buque','patente']]
IdBuqueNombre = Buque[['id_buque','nombre']]

In [151]:
del Personal["pasaporte"]
del Personal["nombre"]
del Buque["patente"]
del Buque["nombre"]

In [152]:
Buque.to_csv('../tablas/Buque.csv', index=False)
Naviera.to_csv('../tablas/Naviera.csv', index=False)
BuquePesquero.to_csv('../tablas/BuquePesquero.csv', index=False)
BuqueCarga.to_csv('../tablas/BuqueCarga.csv', index=False)
BuquePetrolero.to_csv('../tablas/BuquePetrolero.csv', index=False)
Personal.to_csv('../tablas/Personal.csv', index=False)
Tiene.to_csv('../tablas/Tiene.csv', index=False)
Trabajan.to_csv('../tablas/Trabajan.csv', index=False)
Atraque.to_csv('../tablas/Atraque.csv', index=False)
Itinerario.to_csv('../tablas/Itinerario.csv', index=False)
IdPersonalPasaporte.to_csv('../tablas/IdPersonalPasaporte.csv', index=False)
IdPersonalNombre.to_csv('../tablas/IdPersonalNombre.csv', index=False)
IdBuquePatente.to_csv('../tablas/IdBuquePatente.csv', index=False)
IdBuqueNombre.to_csv('../tablas/IdBuqueNombre.csv', index=False)

In [153]:
Personal.describe(include="all")

        id_personal nacionalidad         edad genero
count   1643.000000         1643  1643.000000   1643
unique          NaN          157          NaN      2
top             NaN  REINO UNIDO          NaN  mujer
freq            NaN           34          NaN    846
mean     821.000000          NaN    42.556299    NaN
std      474.437562          NaN    18.159389    NaN
min        0.000000          NaN    10.000000    NaN
25%      410.500000          NaN    28.000000    NaN
50%      821.000000          NaN    41.000000    NaN
75%     1231.500000          NaN    54.000000    NaN
max     1642.000000          NaN    99.000000    NaN

In [154]:
BuqueCarga.dtypes

id_buque          int64
max_containers    int32
max_ton           int32
dtype: object